.nav-home{
  text-decoration: underline;
  text-underline-offset: 5px;
}
.nav-home:hover{
  color: orange;
}
.nav-item:hover{
  color: orange;
}
.nav{
  box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.347);
  
}
.footer p{
   color: rgb(194, 194, 194);
}
/* .appstore{
  display: flex;
  grid-template-columns: repeat(1,2fr);
} */
.sort-btn{
  box-shadow: 1px 1px 1px 1px grey;
}